.nav{
    display: flex;
    
    justify-content: space-between;
    padding: 0px 5px 0px 5px;
    height: 65.8px;
    align-items: center;
    border-bottom: 1px solid #d3d6da;
}

#logo{
    text-align: center;
    font-size: 35px;
    
    font-weight: 500;
    font-family: "karnak";
    width: 100px;
    
}
